
.home .hero img
  max-height 475px!important

.ltr
    direction: ltr!important;
    text-align: left!important;


.features ol ,.posts ol
  list-style-type: arabic-indic!important;  
.posts ol
  margin-top: 1rem
  
@media (max-width: 719px)  
  .sidebar 
    transform: translateX(100%);
  .search-box input
    left:0!important
 

.sidebar .nav-links .nav-item, .sidebar .nav-links .repo-link
      padding: 0.5rem 1.5rem 0.5rem 0!important;

 p 
    font-family: Vazir,GanjNamehSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

h1,
.uk-h1,
h2,
.uk-h2,
h3,
.uk-h3,
h4,
.uk-h4,
h5,
.uk-h5,
h6,
.uk-h6,
.uk-heading-small,
.uk-heading-medium,
.uk-heading-large,
.uk-heading-xlarge,
.uk-heading-2xlarge {
  margin: 0 0 20px 0;
  font-family: inherit !important;
  font-weight: normal;
  color: #333;
  text-transform: none;
}
.uk-button-primary {
  background-color: #26ace2;
}
.uk-tab > .uk-active > a {
  border-color: #26ace2;
}
a,
.uk-link {
  color: #26ace2;
}
.uk-input,
.uk-select,
.uk-button,
{
  // border-radius: 4px!important;
  border-width: 0!important;
  border-bottom-width: 1px!important;
}
.uk-button-text {
  padding: 3px 0!important
  }

.navbar .site-name
    font-size: 1rem!important;
