/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */
 

// 4. Import UIkit.

$accentColor = #26ace2
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
